/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #020024, #03033d,#0d7d94);
  height: 100vh;
}
